.uni-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;

  .uni-scrollbar-wrapper {
    overflow: auto;
    height: 100%;
    scrollbar-width: none;

    .uni-scrollbar-content {
      width: fit-content;
    }

    ::-webkit-scrollbar {
      display: none;
    }
    /* 针对 Firefox */
    scrollbar-width: none;

    /* 针对 IE 和 Edge */
    -ms-overflow-style: none;
  }

  .uni-scrollbar-bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    background-color: var(--uniscrollbar-track-background-color);
    z-index: 1;
    border-radius: var(--uniscrollbar-track-border-radius);
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    &:hover {
      background-color: var(--uniscrollbar-track-hover-background-color);
    }
  }

  .uni-scrollbar-bar-thumb {
    border-radius: var(--uniscrollbar-track-border-radius);
    background-color: var(--uniscrollbar-thumb-background-color);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
    &:hover {
      background-color: var(--uniscrollbar-thumb-hover-background-color);
    }
  }

  .uni-scrollbar-vertical {
    width: var(--uniscrollbar-track-width);
    top: 2px;

    .uni-scrollbar-bar-thumb {
      width: var(--uniscrollbar-thumb-width);
    }
  }

  .uni-scrollbar-horizontal {
    height: var(--uniscrollbar-track-width);
    left: 2px;

    .uni-scrollbar-bar-thumb {
      height: var(--uniscrollbar-thumb-width);
    }
  }

  .uni-scrollbar-bar__hidden {
    opacity: 0;
    transition-duration: 0.4s;
  }
}
